


.homepage {
  background: linear-gradient(to bottom, #F5DB13, #F2B807, #F28F16); /* Gradient background */
  height: 100vh; /* Full viewport height */
  position: relative;
  overflow: hidden; /* Hide overflowing content */
}



.nav-link {
  color: #000; /* Black color for text */
  text-decoration: none;
  font-size: 1.2rem; /* Default font size */
}

.nav-link:hover {
  border-bottom: 2px solid #000; /* Black underline on hover */
}

.pokeball1 {
  max-width: 100%;
}

.custom-heading {
  font-family: 'Karla', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 49.1px;
  letter-spacing: 4px;
  text-align: center;
  margin-left: 10vw; /* Adjust margins to control horizontal width */
  margin-right: 10vw; /* Adjust margins to control horizontal width */
  margin-bottom: 1rem; /* Adjust space below the heading */
}




