.homepage {
  background: linear-gradient(to bottom, #ffff00, #f7d400); /* Gradient background from bright yellow to dark yellow */
  height: 100vh; /* Full viewport height */
  position: relative;
  overflow: hidden; /* Hide overflowing content */
}

.navbar {
  background-color: #ffff00;
}

.nav-link {
  color: #000; /* Black color for text */
  text-decoration: none;
  font-size: 1.2rem; /* Default font size */
  position: relative;
}

.nav-link:hover {
  border-bottom: 2px solid #000; /* Black underline on hover */
}

